<footer class="bg-gray-800 border-t border-gray-700">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 py-6">
    <div class="flex items-center justify-between">

<!-- Añadir routerlink cuando tenga las rutas definidas o los componentes creados. -->
      <a class="text-base font-semibold text-gray-300 hover:text-gray-500 cursor-pointer tracking-widest transition-colors duration-200">
        Quienes somos
      </a>

      <a class="text-base font-semibold text-gray-300 hover:text-gray-500 cursor-pointer tracking-widest transition-colors duration-200">
        Preguntas frecuentes
      </a>

      <a class="text-base font-semibold text-gray-300 hover:text-gray-500 cursor-pointer tracking-widest transition-colors duration-200">
        RRSS
      </a>

    </div>
  </div>
</footer>